apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-monitor
spec:
  selector:
    matchLabels:
      app: health-monitor
  template:
    metadata:
      labels:
        app: health-monitor
    spec:
      containers:
        - name: health-monitor
          image: health-monitor:latest
          imagePullPolicy: Never
          env:
            - name: NODE_ENV
              value: "production"
          ports:
            - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: health-monitor
spec:
  selector:
    app: health-monitor
  ports:
    - port: 3001
      targetPort: 3001
  clusterIP: None
